<template>
    <div>
        <v-card>
            <v-card-text>
                <v-list flat>
                    <v-list-item v-for="(item, key) in items" :key="key">
                        <v-list-item-content>
                            {{item.name}}
                        </v-list-item-content>
                        <v-list-item-content>
                            <v-switch class="px-3" v-if="item.type.code == 'switcher'" dense
                                value="1"
                                v-model="item.object_item.value"
                            ></v-switch>
                            <span v-if="item.type.code == 'number'">{{item.object_item.value}}</span>
                        </v-list-item-content>
                        <v-list-item-action>
                            <v-btn text icon @click.prevent="edit(item.id)"><v-icon>edit</v-icon></v-btn>
                        </v-list-item-action>
                    </v-list-item>
                </v-list>
                <v-btn top color="pink" dark fab absolute small right @click.prevent="add">
                    <v-icon>add</v-icon>
                </v-btn>
            </v-card-text>
        </v-card>
        <dashboard-item-edit :dashboard-id="dashboardId" :item-id="editedItem" @cancel="editedItem = null"
                             @save="onSave"></dashboard-item-edit>
    </div>
</template>

<script>
    import DashboardItemEdit from "./DashboardItemEdit";

    export default {
        name: "DashboardItemList",
        components: {DashboardItemEdit},
        props: {
            dashboardId: Number,
            itemsList: Array
        },
        data() {
            return {
                items: this.itemsList,
                editedItem: null,
                loading: true,
                dialog: false
            }
        },
        methods: {
            load: async function () {
                let response = await axios.get('/api/admin/dashboards/list');
                this.items = response.data;
                this.loading = false;
            },
            add: function () {
                this.editedItem = 'create';
            },
            edit: function(id){
                this.editedItem = id;
            },
            onSave: async function () {
                this.editedItem = null;
                let response = await axios.get('/api/admin/dashboard-item/list', {params: {dashboard: this.dashboardId}});
                this.items = response.data;
            },
            addPanelItem() {

            }
        },

    }
</script>

<style scoped>

</style>
