<template>
    <v-dialog v-model="dialog" max-width="500">
        <form @submit.prevent="save">
            <v-card>
                <v-card-text>
                    <v-select
                        :items="display_type"
                        v-model="item.display_type"
                        item-text="name"
                        item-value="id"
                        label="Тип"
                        required
                    ></v-select>
                    <v-select
                        :items="sobjects"
                        v-model="item.sobject_id"
                        item-text="name"
                        item-value="id"
                        label="Объект"
                        required
                    ></v-select>
                    <v-select
                        :items="sobject_data"
                        v-model="item.object_item_id"
                        item-text="name"
                        item-value="id"
                        label="Свойство"
                        required
                    ></v-select>
                    <v-text-field v-model="item.name" :error-messages="errors.name" label="Наименование"
                                  required></v-text-field>

                </v-card-text>
                <v-card-actions>
                    <v-btn outlined color="error" v-if="item.id > 0" @click.prevent="remove">Удалить</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn outlined color="secondary" @click.prevent="dialog = false">Отмена</v-btn>
                    <v-btn outlined color="primary" @click.prevent="save">Сохранить</v-btn>
                </v-card-actions>
            </v-card>
        </form>
    </v-dialog>
</template>

<script>

    export default {
        name: "DashboardItemEdit",
        props: {
            itemId: Number,
            dashboardId: Number
        },
        data() {
            return {
                dialog: false,
                item: {},
                loading: true,
                errors: {},
                sobjects: [],
                display_type: [],
                sobject_data: []
            }
        },
        mounted: async function () {

        },
        methods: {
            remove: async function () {
                if (confirm('Вы действительно хотите удалить запись?')) {
                    await axios.get('/api/admin/dashboard-item/remove', {params: {id: this.itemId}});
                    this.$emit('save');
                }
            },
            save: async function () {
                this.errors = {};
                try {
                    let response = await axios.post('/api/admin/dashboard-item/save', this.item);
                    this.$emit('save');
                } catch (e) {
                    this.errors = e.response.data.errors;
                }
            }
        },
        watch: {
            'itemId': async function (value) {
                if (value == null) {
                    this.dialog = false;
                    return;
                }
                this.dialog = true;
                let response = await axios.get('/api/admin/dashboard-item/init');
                this.sobjects = response.data.objects;
                this.display_type = response.data.display_type;
                if (value == 'create') {
                    this.item = {
                        dashboard_id: this.dashboardId
                    };
                } else {
                    let response = await axios.get('/api/admin/dashboard-item/edit', {params: {id: this.itemId}});
                    this.item = response.data;
                    this.item.sobject_id = this.item.object_item.sobject_id;
                }
            },
            'dialog': function (value) {
                if (value == false) {
                    this.$emit('cancel');
                }
            },
            'item.sobject_id': function (value) {
                this.sobject_data = this.sobjects.find(object => object.id === value).data;
            }
        }
    }
</script>

<style scoped>

</style>
