<template>
    <div>
        <v-row>
            <v-col cols="12" lg="4" md="6" v-for="(item, key) in items" :key="key">
                <v-card>
                    <v-card-title class="headline">
                        {{item.name}}
                        <v-btn text small icon @click="edit(item.id)">
                            <v-icon>edit</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-card-text>
                        <dashboard-item-list @updated="load" :dashboard-id="item.id"
                                             :items-list="item.items"></dashboard-item-list>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>

        <v-btn bottom color="pink" dark fab fixed right @click="addPanel">
            <v-icon>add</v-icon>
        </v-btn>
        <dashboard-edit :item-id="editedItem" @cancel="editedItem = null" @save="onSavePanel"></dashboard-edit>
    </div>
</template>

<script>
    import DashboardEdit from "./DashboardEdit";
    import DashboardItemList from "./DashboardItemList";

    export default {
        name: "DashboardList",
        components: {DashboardItemList, DashboardEdit},
        data() {
            return {
                items: [],
                editedItem: null,
                loading: true,
            }
        },
        async mounted() {
            this.load();
        },
        methods: {
            load: async function () {
                let response = await axios.get('/api/admin/dashboards/list');
                this.items = response.data;
                this.loading = false;
            },
            addPanel: function () {
                this.editedItem = 'create';
            },
            edit: function (id) {
                this.editedItem = id;
            },
            onSavePanel: function () {
                this.editedItem = null;
                this.load();
            },
            addPanelItem() {

            }
        },

    }
</script>

<style scoped>

</style>
