<template>
    <v-dialog v-model="dialog" max-width="500">
        <form @submit.prevent="save">
            <v-card>
                <v-card-title class="headline">Новая панель</v-card-title>
                <v-card-text>
                    <v-text-field v-model="item.order" :error-messages="errors.order" label="Порядок"></v-text-field>
                    <v-text-field v-model="item.name" :error-messages="errors.name" label="Наименование" required></v-text-field>
                </v-card-text>
                <v-card-actions>
                    <v-btn outlined color="error" v-if="item.id > 0" @click.prevent="remove">Удалить</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn outlined color="secondary" @click.prevent="dialog = false">Отмена</v-btn>
                    <v-btn outlined color="primary" @click.prevent="save">Сохранить</v-btn>
                </v-card-actions>
            </v-card>
        </form>
    </v-dialog>
</template>

<script>

    export default {
        name: "DashboardEdit",
        props: {
            itemId: String
        },
        data() {
            return {
                dialog: false,
                item: {},
                loading: true,
                errors: {}
            }
        },
        methods: {
            remove: async function () {
                if (confirm('Вы действительно хотите удалить запись?')) {
                    await axios.get('/api/admin/dashboard/remove', {params: {id: this.itemId}});
                    this.$emit('save');
                }
            },
            save: async function () {
                this.errors = {};
                try {
                    let response = await axios.post('/api/admin/dashboards/save/' + this.itemId, this.item);
                    this.$emit('save');
                }catch (e) {
                    this.errors =  e.response.data.errors;
                }
            }
        },
        watch: {
            'itemId': async function (value) {
                if (value == null) {
                    this.dialog = false;
                    return;
                }
                this.dialog = true;
                if (value == 'create') {
                    this.item = {};
                } else {
                    let response = await axios.get('/api/admin/dashboard/edit', {params: {id: this.itemId}});
                    this.item = response.data;
                }
                console.log(value)
            },
            'dialog': function (value) {
                if (value == false) {
                    this.$emit('cancel');
                }
            }
        }
    }
</script>

<style scoped>

</style>
