<template>
    <v-row>
        <v-col cols="12" lg="4" md="6" v-for="(item, key) in items" :key="key">
            <v-card>
                <v-card-title class="subheading font-weight-bold">
                    {{item.name}}
                </v-card-title>
                <v-list dense>
                    <v-list-item v-for="(prop, prop_key) in item.items" :key="prop_key">
                        <v-list-item-content>{{prop.name}}</v-list-item-content>
                        <v-list-item-action>
                            <v-switch class="px-3" dense v-if="prop.type.code == 'switcher'"
                                      @change="sendCommand(prop.object_item.sobject.code, prop.object_item.code, prop.object_item.value)"
                                      true-value="1" false-value="0"
                                      v-model="prop.object_item.value"
                            ></v-switch>
                            <span v-if="prop.type.code == 'number'">{{prop.object_item.value}}</span>
                        </v-list-item-action>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        name: "PublicDasboard",
        data() {
            return {
                items: [],
            }
        },
        async mounted() {
            let response = await axios.get('/api/public/dashboard');
            this.items = response.data;
        },
        methods: {
            async sendCommand(objectCode, propCode, value) {
                let command = {
                    object: objectCode,
                    prop: propCode,
                    value: value
                }
                let response = await axios.post('/api/send-command', command);
            }
        }
    }
</script>

<style scoped>

</style>
