<template>
    <v-row>
        <v-col cols="12" md="7">
            <v-card class="mb-5">
                <v-form @submit="save">
                    <v-card-title>{{name}}</v-card-title>
                    <v-card-text>
                        <v-checkbox v-model="item.active" :value="1" label="Активность" type="checkbox"></v-checkbox>
                        <v-text-field v-model="item.code" label="Символьный код" required></v-text-field>
                        <v-text-field v-model="item.name" label="Наименование" required></v-text-field>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="error" @click="showRemoveDialog" v-if="$route.params.id > 0">Удалить</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn color="info" :to="{name: 'objects_list'}">Отмена</v-btn>
                        <v-btn color="success" @click="save">Сохранить</v-btn>
                    </v-card-actions>
                </v-form>
                <v-overlay :value="loading">
                    <v-progress-circular indeterminate size="64"></v-progress-circular>
                </v-overlay>
            </v-card>
            <s-object-data-list v-if="$route.params.id > 0" :object-id="$route.params.id"></s-object-data-list>
            <v-dialog v-model="deleteDialog" max-width="300">
                <v-card>
                    <v-card-title>Удаление</v-card-title>
                    <v-card-text>
                        Вы действительно хотите удалить запись
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn text color="info" @click="deleteDialog = false">Отмена</v-btn>
                        <v-btn text color="success" @click="remove">Удалить</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-col>
    </v-row>
</template>

<script>
    import SObjectDataList from "./SObjectDataList";

    export default {
        name: "SObjectEdit",
        components: {SObjectDataList},
        data() {
            return {
                loading: true,
                deleteDialog: false,
                errors: {},
                item: {
                    name: '',
                    active: 1,
                    data: []
                },
                name: 'Новый объект'
            }
        },
        async mounted() {
            if (this.$route.params.id > 0) {
                let response = await axios.get('/api/object/edit/' + this.$route.params.id);
                this.item = response.data;
            }
            this.loading = false;
        },
        methods: {
            save: async function () {
                this.loading = true;
                this.errors = {};
                try {
                    let response = await axios.post('/api/object/save', this.item);
                    this.item = response.data;
                    if (this.$route.params.id == 'create') {
                        this.$router.push({name: 'object_edit', params: {id: this.item.id}})
                    }
                } catch (e) {
                    this.errors = e.response.data.errors;
                }
                this.loading = false;
            },
            showRemoveDialog: function () {
                this.deleteDialog = true;
            },
            remove: async function () {
                this.deleteDialog = false;
                await axios.get('/api/object/' + this.item.id + '/remove');
                this.$router.push({name: 'objects_list'});
            }
        },
        watch: {
            'item.name': function (value) {
                this.name = value;
            }
        }
    }
</script>

<style scoped>

</style>
