<template>
    <div>
        <v-card>
            <v-card-title>Свойства</v-card-title>
            <v-card-text>
                <v-data-table :headers="headers" :items="items" :loading="loading">
                    <template v-slot:item.name="data">
                        <a href="#" @click="edit(data.item.id)">{{data.item.name}}</a>
                    </template>
                    <template v-slot:item.updated_at="data">
                        <span class="text-no-wrap">{{data.item.updated_at}}</span>
                    </template>
                    <template v-slot:item.active="data">
                        <v-icon v-if="data.value == 1">done</v-icon>
                        <v-icon v-else>remove</v-icon>
                    </template>
                    <template v-slot:item.script_id="data">
                        <v-btn text small v-if="data.value > 0" :to="{ name: 'script_edit', params: { id: data.value }}"><v-icon >flash_on</v-icon></v-btn>
                    </template>
                </v-data-table>
                <v-btn
                    top
                    color="primary"
                    dark
                    fab
                    absolute
                    right
                    @click="create"
                >
                    <v-icon>add</v-icon>
                </v-btn>
            </v-card-text>
        </v-card>
        <s-object-data-edit :itemid="itemEditId" :object-id="objectId" @cancel="itemEditId = null" @save="load()"></s-object-data-edit>
    </div>
</template>

<script>
    import SObjectDataEdit from "./SObjectDataEdit";

    export default {
        name: "SObjectDataList",
        components: {SObjectDataEdit},
        props: {
            objectId: String
        },
        data() {
            return {
                items: [],
                dialog: false,
                loading: true,
                itemEditId: null,
                headers: [
                    {
                        text: 'Символьный код',
                        value: 'code',
                    },
                    {
                        text: 'Тип',
                        value: 'type.name',
                    },
                    {
                        text: 'Наименование',
                        value: 'name',
                    },
                    {
                        text: 'Значение',
                        value: 'value',
                    },
                    {
                        text: 'Обновлено',
                        value: 'updated_at'
                    },
                    {
                        text: 'Сценарий',
                        value: 'script_id',
                    },
                    {
                        text: 'Активность',
                        value: 'active',
                    }
                ],
            }
        },
        async mounted() {
            this.load();
        },
        methods: {
            edit: function (id) {
                this.itemEditId = id;
            },
            load: async function () {
                this.loading = true;
                this.itemEditId = null;
                let response = await axios.get('/api/object/' + this.objectId + '/data/list');
                this.items = response.data;
                this.loading = false;
            },
            create: function(){
                this.itemEditId = 0;
            }
        }
    }
</script>

<style scoped>

</style>
