<template>
    <v-dialog v-model="dialog" max-width="560" @click:outside="$emit('cancel')">
        <v-card>
            <v-form @submit="save">
                <v-card-title>{{name}}</v-card-title>
                <v-card-text>
                    <v-checkbox v-model="item.active" :value="1" label="Активность" type="checkbox"></v-checkbox>
                    <v-select
                        v-model="item.type_id"
                        :items="types"
                        item-text="name"
                        item-value="id"
                        label="Тип"
                        required
                    ></v-select>
                    <v-text-field v-model="item.code" label="Символьный код" required></v-text-field>
                    <v-text-field v-model="item.name" label="Наименование" required></v-text-field>
                    <v-text-field v-model="item.value" label="Значение" required></v-text-field>
                    <v-autocomplete
                        v-model="item.script_id"
                        :items="scripts"
                        dense
                        filled
                        item-text="name"
                        item-value="id"
                        label="Скрипт"
                    ></v-autocomplete>
                </v-card-text>
                <v-card-actions>
                    <v-btn text color="error" @click="showRemoveDialog" v-if="itemid > 0">Удалить</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn text color="info" @click="cancel">Отмена</v-btn>
                    <v-btn text color="success" @click="save">Сохранить</v-btn>
                </v-card-actions>
            </v-form>
            <v-overlay :value="loading" absolute>
                <v-progress-circular indeterminate size="64"></v-progress-circular>
            </v-overlay>
            <v-dialog v-model="deleteDialog" max-width="300">
                <v-card>
                    <v-card-title>Удаление</v-card-title>
                    <v-card-text>
                        Вы действительно хотите удалить запись
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn text color="info" @click="deleteDialog = false">Отмена</v-btn>
                        <v-btn text color="success" @click="remove">Удалить</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "SObjectDataEdit",
        props: {
            itemid: Number,
            objectId: String
        },
        data() {
            return {
                loading: true,
                dialog: false,
                deleteDialog: false,
                errors: {},
                item: {},
                types: [],
                scripts: [],
                name: 'Новое свойство'
            }
        },
        methods: {
            cancel: function () {
                this.dialog = false;
                this.$emit('cancel');
            },
            save: async function () {
                this.loading = true;
                this.errors = {};
                try {
                    let response = await axios.post('/api/object/data/save', this.item);
                    this.item = response.data;
                    this.$emit('save');
                    this.dialog = false;
                } catch (e) {
                    this.errors = e.response.data.errors;
                }
                this.loading = false;
            },
            showRemoveDialog: function () {
                this.deleteDialog = true;
            },
            remove: async function () {
                this.deleteDialog = false;
                await axios.get('/api/object-data/' + this.item.id + '/remove');
                this.$emit('save');
                this.dialog = false;
            }
        },
        watch: {
            'itemid': async function (value) {
                if (value != null) {
                    this.dialog = true;
                    let response = await axios.get('/api/object/' + this.objectId + '/data/' + value + '/edit');
                    this.item = response.data.item;
                    this.types = response.data.types;
                    this.scripts = response.data.scripts;
                    this.loading = false;
                }
            }
        }
    }
</script>

<style scoped>

</style>
