<template>
    <v-row>

        <v-col cols="12" md="6">
            <v-card class="mb-5">
                <v-form @submit="save">
                    <v-card-title>{{name}}</v-card-title>

                    <v-card-text>
                        <v-alert type="error" v-if="globalError">{{globalError}}</v-alert>
                        <v-checkbox v-model="item.active" :error-messages="errors.active" :value="1" label="Активность"
                                    type="checkbox"></v-checkbox>
                        <v-select
                            v-model="item.when_run"
                            :items="whenRun"
                            item-text="name"
                            item-value="id"
                            label="Когда выполнить"
                            required
                        ></v-select>
                        <div v-if="item.when_run == 2">
                            <v-text-field type="number" v-model="item.shedule_time" label="Время (сек)"></v-text-field>
                        </div>
                        <v-text-field v-model="item.code" :error-messages="errors.code" label="Символьный код"
                                      required></v-text-field>
                        <v-text-field v-model="item.name" :error-messages="errors.name" label="Наименование"
                                      required></v-text-field>
                        <v-textarea
                            outlined
                            v-model="item.action"
                            label="Скрипт"
                        ></v-textarea>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="error" @click="showRemoveDialog" v-if="$route.params.id > 0">Удалить</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn color="success" @click="save">Сохранить</v-btn>
                        <v-btn color="info" @click="$router.go(-1)">Отмена</v-btn>
                    </v-card-actions>
                </v-form>
                <v-overlay :value="loading">
                    <v-progress-circular indeterminate size="64"></v-progress-circular>
                </v-overlay>
            </v-card>
            <v-dialog v-model="deleteDialog" max-width="300">
                <v-card>
                    <v-card-title>Удаление</v-card-title>
                    <v-card-text>
                        Вы действительно хотите удалить запись
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn text color="info" @click="deleteDialog = false">Отмена</v-btn>
                        <v-btn text color="success" @click="remove">Удалить</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-col>
        <v-col cols="12" md="6">
            <v-card class="mb-5">
                <v-card-text>

                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>

    export default {
        name: "ScriptEdit",
        data() {
            return {
                loading: true,
                deleteDialog: false,
                errors: {},
                globalError: false,
                whenRun: [],
                item: {
                    name: '',
                    active: 1,
                    when_run: 1
                },
                name: 'Новый скрипт'
            }
        },
        async mounted() {
            let response = await axios.get('/api/script/edit/' + this.$route.params.id);
            if (this.$route.params.id > 0) {
                this.item = response.data.item;
            }
            this.whenRun = response.data.when_run;
            this.loading = false;
        },
        methods: {
            save: async function () {
                this.loading = true;
                this.globalError = false;
                this.errors = {};
                try {
                    let response = await axios.post('/api/script/save', this.item);
                    this.item = response.data;
                    if (this.$route.params.id == 'create') {
                        this.$router.push({name: 'script_edit', params: {id: this.item.id}})
                    }
                } catch (e) {
                    this.loading = false;
                    this.globalError = e.response.data.message;
                    if (e.response.data.errors) {
                        this.errors = e.response.data.errors;
                    }

                }
                this.loading = false;
            },
            showRemoveDialog: function () {
                this.deleteDialog = true;
            },
            remove: async function () {
                this.deleteDialog = false;
                await axios.get('/api/script/remove/' + this.item.id);
                this.$router.push({name: 'scripts_list'});
            }
        },
        watch: {
            'item.name': function (value) {
                this.name = value;
            },
        }
    }
</script>

<style scoped>

</style>
