<template>
    <v-card>
        <v-card-title>Объекты</v-card-title>
        <v-card-text>
            <v-data-table :headers="headers" :items="items" :loading="loading">
                <template v-slot:item.name="data">
                    <router-link :to="{ name: 'script_edit', params: { id: data.item.id }}">{{data.item.name}}</router-link>
                </template>
                <template v-slot:item.active="data">
                    <v-icon v-if="data.value == 1">done</v-icon>
                    <v-icon v-else>remove</v-icon>
                </template>
            </v-data-table>
            <v-btn
                bottom
                color="pink"
                dark
                fab
                fixed
                right
                :to="{ name: 'script_edit', params: { id: 'create' }}"
            >
                <v-icon>add</v-icon>
            </v-btn>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        name: "ScriptsList",
        data() {
            return {
                items: [],
                loading: true,
                headers: [
                    {
                        text: 'Символьный код',
                        value: 'code',
                    },
                    {
                        text: 'Наименование',
                        value: 'name',
                    }
                ],
            }
        },
        async mounted() {
            let response = await axios.get('/api/scripts/list');
            this.items = response.data;
            this.loading = false;
        }
    }
</script>

<style scoped>

</style>
