<template>
    <v-row>

        <v-col cols="12" md="6">
            <v-card class="mb-5">
                <v-form @submit="save">
                    <v-card-title>{{item.name}}</v-card-title>
                    <v-card-text>
                        <v-alert type="error" v-if="globalError">{{globalError}}</v-alert>
                        <v-checkbox v-model="item.active" :error-messages="errors.active" :value="1" label="Активность"
                                    type="checkbox"></v-checkbox>
                        <div v-for="(data, key) in item.data" :key="key">
                            <v-text-field v-model="data.value" :label="data.name"></v-text-field>
                        </div>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="success" @click="save">Сохранить</v-btn>
                        <v-btn color="info" :to="{name: 'modules_list'}">Отмена</v-btn>
                    </v-card-actions>
                </v-form>
                <v-overlay :value="loading">
                    <v-progress-circular indeterminate size="64"></v-progress-circular>
                </v-overlay>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        name: "ModuleEdit",
        data() {
            return {
                loading: true,
                deleteDialog: false,
                errors: {},
                globalError: false,
                item: {
                    name: '',
                    active: 1,
                    data: []
                },
            }
        },
        async mounted() {
            if (this.$route.params.id > 0) {
                let response = await axios.get('/api/module/edit/' + this.$route.params.id);
                this.item = response.data;
            }
            this.loading = false;
        },
        methods: {
            save: async function () {
                this.loading = true;
                this.globalError = false;
                this.errors = {};
                try {
                    let response = await axios.post('/api/module/save', this.item);
                    this.item = response.data;
                } catch (e) {
                    this.loading = false;
                    this.globalError = e.response.data.message;
                    if (e.response.data.errors) {
                        this.errors = e.response.data.errors;
                    }

                }
                this.loading = false;
            },
            showRemoveDialog: function () {
                this.deleteDialog = true;
            },
            remove: async function () {
                this.deleteDialog = false;
                await axios.get('/api/script/remove/' + this.item.id);
                this.$router.push({name: 'scripts_list'});
            }
        },
        watch: {
            'item.name': function (value) {
                this.name = value;
            }
        }
    }
</script>

<style scoped>

</style>
