<template>
    <div>
        <v-data-table :headers="headers" :items="items" :loading="loading">
            <template v-slot:item.name="data">
                <router-link :to="{ name: 'module_detail', params: { id: data.item.id }}">{{data.item.name}}</router-link>
            </template>
            <template v-slot:item.active="data">
                <v-icon v-if="data.value == 1">done</v-icon>
                <v-icon v-else>remove</v-icon>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    export default {
        name: "ModuleList",
        data() {
            return {
                items: [],
                loading: true,
                headers: [
                    {
                        text: 'Символьный код',
                        value: 'code',
                    },
                    {
                        text: 'Наименование',
                        value: 'name',
                    },
                    {
                        text: 'Активность',
                        value: 'active',
                    }
                ],
            }
        },
        async mounted() {
            let response = await axios.get('/api/modules/list');
            this.items = response.data;
            this.loading = false;
        }
    }
</script>

<style scoped>

</style>
